<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>KKN</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" th:href="@{style.css}" href="../static/style.css">
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-6">
        <div class="row">
          <div class="col-6">
            <div style="width: 300px;height: 100%;" class=" float-right text-center">
              <h1 class="text-center">Draw A Number</h1>
              <canvas id="canvas" width="250" height="250"></canvas>
              <div class="toolbox d-flex align-items-center">
                <span class="mr-2 text-white">K:</span>
                <input type="number" class="w-25 mr-2" name="inputK" id="inputK" value="5" step="5">
                <button id="submit" class=" w-25 btn btn-secondary p-2"><span class="">Submit</span></button>
                <div class="d-flex justify-content-end w-50">
                  <button id="clear" class=" btn btn-secondary mr-0 p-2">Clear</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div style="width: 255px;" class="">
              <h1 class="text-center">Result</h1>
              <div class="border d-flex align-items-center justify-content-center">
                <span style="font-size:150px" id="result"></span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="imgCoveted" style="text-align-last: justify;background: black;"></div>
      </div>
    </div>
  </div>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
  <script th:src="@{script.js}" src="../static/script.js"></script>
</body>

</html>